################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/reactapp1.client/obj/Debug
/ReactApp1.Server/bin/Debug/net9.0
/ReactApp1.Server/obj
/WebAPI/bin/Debug/net9.0
/WebAPI/obj
/WebAPI/App.db
/WebAPI/App.db-shm
/WebAPI/App.db-wal
