#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.avatar {
    height: 32px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    box-shadow: 0 2px 15px rgba(0,0,0,0.1);
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:hover {
    background-color: #f5f5f5;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}


nav {
    background-color: #f8f9fa; /* Цвет фона для навигации */
    padding: 10px; /* Внутренние отступы */
}

    nav ul {
        list-style-type: none; /* Убираем маркеры списка */
        padding: 0; /* Убираем отступы */
        margin: 0; /* Убираем наружные отступы */
        display: flex; /* Используем flex для горизонтального отображения */
    }

        nav ul li {
            margin-right: 20px; /* Отступ между элементами меню */
        }

            nav ul li a {
                text-decoration: none; /* Убираем подчеркивание у ссылок */
                color: #007bff; /* Цвет ссылок */
            }

                nav ul li a:hover {
                    text-decoration: underline; /* Подчеркивание при наведении */
                }

.clickable:hover{
    cursor: pointer;
    background-color: lightgray;
}